.btn-create{
    background-color: #474DA0 !important;
    color: white;
    padding: 14px 100px ;
    border: 1px solid #474DA0 ;
    margin: auto;
    margin-top: 20px ;
    margin-bottom: 20px;
    text-align: center !important;
    
}

.btn-create:hover{
    color: white !important;
}

.img-dash{
    object-fit: cover !important;
    width: 10%;
}