body {
  margin: 0;
 
}

code {
  /* font-family: Montserrat; */
}

.maincolor{
  color: #474DA0 !important;
}

.main-bg-color{
  
  background-color:#474DA0 !important;

}

button ,.btn{
  box-shadow : none !important;
  outline : none !important;
}