@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


body ,html {
  margin: 0;
padding: 0; 
}
 :root{
  --maincolor:#474DA0;
 }
code {
  /* font-family: Montserrat; */
}

.maincolor{
  color: #474DA0 !important;
}

.main-bg-color{
  
  background-color:#474DA0 !important;

}

button ,.btn{
  box-shadow : none !important;
  outline : none !important;
}

a{
  text-decoration: none;
}